workflowsXjmN40ePJKfXCFHl.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-27T17:41:04.882Z",
  "id": "XjmN40ePJKfXCFHl",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "72cf4eaa-b7b8-4164-8d46-ff72fe7e8d34",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1392,
        48
      ],
      "webhookId": "ee5c38d9-3872-44d2-98e3-9185cb9a2bc6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
          "mode": "list",
          "cachedResultName": "subscriber_mails ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Subsribers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a70e4846-9444-4343-8bb9-ce761d239ba7",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        208
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08a36674-3b2f-49e9-8f8e-d020e57c3fc9",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "name": "filter.operator.isNotEmpty"
              }
            },
            {
              "id": "f0757aba-462c-4a43-9efc-000b32bc6a5e",
              "leftValue": "={{ $json.body}}",
              "rightValue": "={{ $('Webhook').item.json.body.body.email }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7acd7633-b9f2-47ff-93fe-8958ea96b330",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -960,
        48
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
          "mode": "list",
          "cachedResultName": "subscriber_mails ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Subsribers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "body",
              "lookupValue": "={{ $json.body.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89388ff6-45ec-4556-b1af-cce83feebc7d",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1168,
        48
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    }
  ],
  "pinData": {
    "Get row(s) in sheet": [
      {
        "json": {}
      }
    ]
  },
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-27T17:41:04.887Z",
      "createdAt": "2025-12-27T17:41:04.887Z",
      "role": "workflow:owner",
      "workflowId": "XjmN40ePJKfXCFHl",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-27T18:39:37.000Z",
  "versionId": "9980ce5c-35c2-4d3d-8c0d-601c27709d64"
}