workflowsAfL4d7HMMV2d1xSw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Exists": {
      "main": [
        [
          {
            "node": "If Email Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Exists": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-12-27T18:13:42.941Z",
  "id": "AfL4d7HMMV2d1xSw",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "wordpress_subscribe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "0a63766c-5a94-4c9a-90b4-c6894baebf10",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1264,
        192
      ],
      "webhookId": "ee5c38d9-3872-44d2-98e3-9185cb9a2bc6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
          "mode": "list",
          "cachedResultName": "subscriber_mails ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Subsribers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e423e1b-96a7-406c-b4b0-5847aa5a7f13",
      "name": "Check if Exists",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1040,
        192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "08a36674-3b2f-49e9-8f8e-d020e57c3fc9",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "name": "filter.operator.isNotEmpty"
              }
            },
            {
              "id": "40f7856e-1b7b-464a-98f5-f3d7879f7107",
              "leftValue": "={{ $json.email }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "94cb90ce-74c6-4128-ac79-9ff57afda062",
      "name": "If Email Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
          "mode": "list",
          "cachedResultName": "subscriber_mails ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Subsribers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "headers": "={{ $('Webhook').item.json.headers }}",
            "params": "={{ $('Webhook').item.json.params }}",
            "query": "={{ $('Webhook').item.json.query }}",
            "email": "={{ $('Webhook').item.json.body.email }}",
            "body": "={{ $('Webhook').item.json.body }}",
            "webhookUrl": "={{ $('Webhook').item.json.webhookUrl }}",
            "executionMode": "={{ $('Webhook').item.json.executionMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2f59d9e7-a85b-4d63-8bfb-8843a7cba3db",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -608,
        80
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-27T18:13:42.945Z",
      "createdAt": "2025-12-27T18:13:42.945Z",
      "role": "workflow:owner",
      "workflowId": "AfL4d7HMMV2d1xSw",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-27T18:39:34.000Z",
  "versionId": "f1bb6e0d-eb26-4731-8456-cd05e0401d20"
}