workflowsNnCAEV088shBWwar.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Gmail - Single Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get All Messages": {
      "main": [
        [
          {
            "node": "Filter Emails Without Excluded Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Single Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail - Get All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Data": {
      "main": [
        [
          {
            "node": "Categorize Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Email with AI": {
      "main": [
        [
          {
            "node": "Store AI Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Category": {
      "main": [
        [
          {
            "node": "Check if Label Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "List All Gmail Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Gmail Labels": {
      "main": [
        [
          {
            "node": "Check if Label Exists",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if Label Exists": {
      "main": [
        [
          {
            "node": "Apply New Label",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Apply Label to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Label to Email": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply New Label": {
      "main": [
        [
          {
            "node": "Create New Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Label": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Categorize Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter Emails Without Excluded Labels": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T13:16:10.377Z",
  "id": "NnCAEV088shBWwar",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Gmail → process one-by-one (100)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "0f683a15-6f1a-4b9d-b929-b3a4df1fc71c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        112,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "12997096-d661-4389-b063-d7748ad2f22b",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2752,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2f466934-e257-4315-8a7f-5e3dde987430",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.labelIds[2] }}",
              "rightValue": "={{ $json.labelIds[2] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7f172ad-3398-45d2-960e-a38d39d89312",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        624,
        640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "f722a8f1-a532-41be-afde-d0363aac7fe8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        816,
        432
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "receivedAfter": "2024-12-01T00:00:00"
        }
      },
      "id": "c48c080e-ae8e-447d-8aaf-48863e1b67d0",
      "name": "Gmail - Get All Messages",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -368,
        608
      ],
      "webhookId": "a501a86b-b2df-45ec-b0d9-178765859a0f",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "epqpesLIeJ5okWzW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "7349423d-585c-40da-a1c2-68b392f03794",
      "name": "Gmail - Single Message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        416,
        544
      ],
      "webhookId": "ebc7d7c4-aece-4cd4-a46f-dff18891931e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "epqpesLIeJ5okWzW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Auto Gmail Labeling (Powered by OpenAI)",
        "height": 740,
        "width": 3820
      },
      "id": "ebb4dbd6-1e03-441b-b20f-6caaf251543c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "id": "8e3cb4d4-f43d-4a3c-9e34-2c92477f5f0b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -576,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e246278-eccb-4cd5-8c93-7daa824066e3",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "06e5dde5-dfce-4d4d-859d-b364301cb5aa",
              "name": "from",
              "type": "string",
              "value": "={{ $json.headers.from }}"
            },
            {
              "id": "e10231b9-fbb1-447a-a3fc-3ba8e5a9d314",
              "name": "headers.subject",
              "type": "string",
              "value": "={{ $json.headers.subject }}"
            },
            {
              "id": "6a472d41-0f6e-4803-8d94-4b4f8272e66c",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a815a4c-77f2-47a9-9943-1011a23da7bc",
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email details:\nFrom: { $('Merge').item.json.headers.from }}\nSubject line: {{ $json.headers.subject }}\nEmail Body: \n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Role and Objective\nYou are my Personal Email Labeler.\nWhen I feed you the subject and body of a new email, you must assign exactly one label—no extra text.\nSupport labels in English and Hebrew (e.g., “Invoice” / “חשבונית”).\n\nKey Billing Guidance\nIf an email is requesting payment, reminding about a due amount, or showing upcoming charges, label it Invoice / חשבונית. This includes new invoices, reminders, overdue notices, and invoice follow‑ups\nflodesk.com\nflodesk.com\n.\n\nIf an email confirms that a payment has been made—such as order confirmations, payment receipts, and invoice receipts—label it Receipt / קבלה\nflodesk.com\n.\n\nEmails from banks or credit‑card companies with statements, transaction alerts, or fraud warnings should be labeled Bank / בנק.\n\nAvailable Labels and Definitions\nNewsletter / עלון\n• Subscription updates, promotions, or digests.\n• No reply needed—just file away.\n\nInquiry / שאלה\n• Sender asks a question or requests information.\n• Prioritize and suggest replying.\n\nInvoice / חשבונית\n• Billing requests and notices of charges (חיוב תשלום), including new invoices, payment reminders, overdue invoices, and follow‑ups\nflodesk.com\nflodesk.com\n.\n• Flag if payment is due.\n\nReceipt / קבלה\n• Payment confirmations and order receipts\nflodesk.com\n.\n• Includes e‑commerce order confirmations, “Payment received” notices, and invoice receipts.\n• Archive after processing.\n\nProposal / הצעה\n• Business offers, contracts, or collaboration pitches.\n• Flag for review; consider acknowledging receipt.\n\nAction Required / פעולה נדרשת\n• Requests that demand you take action (book, confirm, complete, provide documents).\n• Mark and suggest a reminder.\n\nFollow-up Reminder / תזכורת מעקב\n• Emails reminding you of something pending or already acted upon.\n• Suggest checking status or pinging again.\n\nTask / משימה\n• Contains to-do items or project steps.\n• Extract tasks; prioritize by deadline.\n\nPersonal / אישי\n• From friends or family; non‑work.\n• Keep accessible but low urgency unless marked urgent.\n\nUrgent / דחוף\n• Critical deadlines, emergencies, or time-sensitive matters.\n• Bump to top of your inbox; reply ASAP.\n\nBank / בנק\n• Statements, account alerts, transaction notices, or fraud warnings from your bank.\n• Flag if action is needed (e.g., verify, transfer, dispute).\n\nJob Update / עדכון עבודה\n• Direct messages from recruiters/HR or alerts from job portals.\n• Flag as relevant opportunity; suggest acknowledging or bookmarking.\n\nSpam / Junk / דואר זבל\n• Unwanted bulk mail, phishing attempts, obvious ads.\n• Auto-archive or delete.\n\nSocial / Networking / חברתי\n• Notifications from social sites (GitHub, Twitter, forums) not job-related.\n• File separately from Job Update.\n\nEvent Invite / הזמנת אירוע\n• Calendar invitations or RSVPs (Google Meet, Zoom, Outlook).\n• Accept/decline or add to calendar.\n\nSubscription Renewal / חידוש מנוי\n• Reminders for software licenses, memberships, domain renewals.\n• Flag for manual renewal.\n\nSystem Notification / הודעת מערכת\n• Alerts from monitoring tools, CI/CD, cloud services, and security scanners.\n• Triage or forward to the relevant team.\n\nLabeling Rules\nAlways read both the subject and the body.\n\nChoose one label that best fits the email content.\n\nOutput only that label (English or Hebrew)."
        }
      },
      "id": "b67f8988-b151-4b66-9417-216d7b46def0",
      "name": "Categorize Email with AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1152,
        416
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2494d69d-3e5e-42ba-88d2-b76ca1962881",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cd3a107-7eb0-4692-b251-49bb4aa0deb3",
      "name": "Store AI Category",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "id": "d65d6b54-3e5d-4249-ac4f-83f21b24d630",
      "name": "List All Gmail Labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1680,
        464
      ],
      "webhookId": "5c3cbc0b-9239-4a17-a8ec-bc8819341e47",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "epqpesLIeJ5okWzW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "output",
              "field2": "name"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "multipleMatches": "first"
        }
      },
      "id": "22dc32b5-427e-4ba6-abdb-0c478a33e64f",
      "name": "Check if Label Exists",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        1920,
        320
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Extract Email Data').item.json.id }}",
        "labelIds": "={{ $json.different.id.inputB }}"
      },
      "id": "92bc6f51-8efa-42b8-b860-68679ac56a76",
      "name": "Apply Label to Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2544,
        592
      ],
      "webhookId": "4a35699e-da45-48e9-8e12-d22b2dcca62e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "epqpesLIeJ5okWzW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{ $('Store AI Category').item.json.output }}",
        "options": {}
      },
      "id": "7aa13ac0-e039-4977-b60e-70e83e204fb5",
      "name": "Apply New Label",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2304,
        176
      ],
      "webhookId": "a6722fdc-15cb-4796-b82d-53cc23060640",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "epqpesLIeJ5okWzW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Extract Email Data').item.json.id }}",
        "labelIds": "={{ $json.id }}"
      },
      "id": "883696cf-ce47-463f-a000-d86e32c4675a",
      "name": "Create New Label",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2544,
        384
      ],
      "webhookId": "9e401ad8-b89c-4015-a3cf-b1000ac51ae1",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "epqpesLIeJ5okWzW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "id": "3fc689bc-4522-4009-9feb-de556d98b696",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1152,
        624
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "h7udaRt5UtnUXt5R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const excludedLabelIds = [\n  \"Label_5\",   // Newsletter\n  \"Label_21\",  // Inquiry\n  \"Label_11\",  // Invoice\n  \"Label_9\",   // Proposal\n  \"Label_52\",  // Action Required\n  \"Label_55\",  // Follow-up Reminder\n  \"Label_53\",  // Task\n  \"Label_44\",  // Personal\n  \"Label_54\",  // Urgent\n  \"Label_12\",  // Bank\n  \"Label_3\",   // Job Update\n  \"Label_42\",  // Spam / Junk\n  \"Label_7\",   // Social / Networking\n  \"Label_8\",   // Receipt\n  \"Label_2\",   // Event Invite\n  \"Label_10\",  // Subscription Renewal\n  \"Label_4\"    // System Notification\n];\n\n\nreturn items.filter(item => {\n  const labels = item.json.labelIds || [];\n  // Exclude if ANY excluded label is present\n  return !labels.some(label => excludedLabelIds.includes(label));\n});\n"
      },
      "id": "8eaabca3-bdb9-4de7-8008-4e9b4f71bdea",
      "name": "Filter Emails Without Excluded Labels",
      "type": "n8n-nodes-base.code",
      "position": [
        -144,
        608
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-01T13:16:10.379Z",
      "createdAt": "2025-10-01T13:16:10.379Z",
      "role": "workflow:owner",
      "workflowId": "NnCAEV088shBWwar",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T13:24:45.000Z",
  "versionId": "c98d7db8-b4ba-4396-b04d-af12f10148d7"
}