workflowsjDcmJ0dsE3NE00cw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Input Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Input Sheet": {
      "main": [
        [
          {
            "node": "Select First Unprocessed Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select First Unprocessed Row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processed (input = 1)": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Read Input Sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Processed (input = 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read Input Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Input Sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-22T13:20:30.159Z",
  "id": "jDcmJ0dsE3NE00cw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "googel sheet logic",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        160
      ],
      "id": "19f96ce1-a9d3-4c0e-a5f7-ae65e142e3f8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_GmIsHDd1y1hNSCx4S97l35UMFUNQX4NZSyTDlUxjsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "input",
          "mode": "name"
        },
        "options": {}
      },
      "id": "35843a00-6b15-454f-a4d9-aac886d2ba74",
      "name": "Read Input Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1456,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\n// Check if any row has input == 0\nconst firstUnprocessed = rows.find(row =>\n  row.json.input == 0 || row.json.input === '0'\n);\n\nif (firstUnprocessed) {\n  // Return the first unprocessed row\n  return [firstUnprocessed];\n} else {\n  // Return indicator only if all are processed\n  return [{\n    json: {\n      all_inputs_are_1: true,\n      message: 'All rows are processed',\n    }\n  }];\n}\n"
      },
      "id": "5602e7cb-8528-4393-b184-e62dfdb04c15",
      "name": "Select First Unprocessed Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_GmIsHDd1y1hNSCx4S97l35UMFUNQX4NZSyTDlUxjsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "input",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "input": "1"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fdbdc4cd-25ca-4db5-85ab-bdade51481d1",
      "name": "Mark as Processed (input = 1)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -368,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8266da8f-3169-4350-be89-b0d7f0b17093",
              "leftValue": "={{ $json.all_inputs_are_1 }}",
              "rightValue": "=1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        160
      ],
      "id": "8a96bc07-c8b9-44a0-99e3-4386c427e9aa",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_GmIsHDd1y1hNSCx4S97l35UMFUNQX4NZSyTDlUxjsI",
          "mode": "list",
          "cachedResultName": "n8n_fun_dog_content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_GmIsHDd1y1hNSCx4S97l35UMFUNQX4NZSyTDlUxjsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1727562250,
          "mode": "list",
          "cachedResultName": "input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_GmIsHDd1y1hNSCx4S97l35UMFUNQX4NZSyTDlUxjsI/edit#gid=1727562250"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "0",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -16
      ],
      "id": "6c34854e-d259-4cf8-b6bc-ab5609ed0a0c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_GmIsHDd1y1hNSCx4S97l35UMFUNQX4NZSyTDlUxjsI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "input",
          "mode": "name"
        },
        "options": {}
      },
      "id": "5702c06b-bddd-4337-8f55-7fa21143b5ba",
      "name": "Read Input Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1040,
        -32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQ7j3YxfduLFXixz",
          "name": "Cohen"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -848,
        -32
      ],
      "id": "abd9e346-6839-45f6-ab0f-ab1a1a96d1b7",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-22T13:20:30.166Z",
      "createdAt": "2025-11-22T13:20:30.166Z",
      "role": "workflow:owner",
      "workflowId": "jDcmJ0dsE3NE00cw",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-22T17:19:49.000Z",
  "versionId": "1560aeab-257b-431b-89cd-cf55196d4bb5"
}