workflowsfB8f7uz9b2cIkHmO.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-10T19:51:01.000Z",
    "createdAt": "2026-02-10T19:50:57.457Z",
    "versionId": "d49bf39e-8091-4ca0-aa58-5dd5685b5d7e",
    "workflowId": "fB8f7uz9b2cIkHmO",
    "nodes": [
      {
        "parameters": {
          "content": "🔗 **GOOGLE DRIVE TO FTP TRANSFER**\n\nTriggers when files are updated in the watched folder.\nDownloads each file and uploads to FTP server.",
          "height": 180,
          "width": 444
        },
        "id": "5e54cbc7-24b6-466e-97fc-bfe4adfe9dc8",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1024,
          624
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyHour"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1oEwttOwp4VuhMWvJILOSVD8YxGNRsCUd",
            "mode": "id"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -720,
          256
        ],
        "id": "e98a781f-0ae3-4bbe-b6e4-61ed55739052",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "QvwWIDibe3wX2Gfx",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": "={{ $json.id }}",
          "options": {}
        },
        "id": "092b6682-1f28-44e9-915b-e3ff02228edc",
        "name": "Download from Drive",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          -496,
          256
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "QvwWIDibe3wX2Gfx",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "path": "={{ $('Google Drive Trigger').item.json.name }}"
        },
        "id": "f486c41a-6226-4168-ae94-002094c94253",
        "name": "Upload to FTP",
        "type": "n8n-nodes-base.ftp",
        "position": [
          -288,
          256
        ],
        "typeVersion": 1,
        "credentials": {
          "ftp": {
            "id": "5A9hUpdZqzMtHRCm",
            "name": "FTP account"
          }
        }
      },
      {
        "parameters": {},
        "id": "8e8fa6fc-a235-4bc4-a203-2995470d67b3",
        "name": "Done",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -64,
          256
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download from Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download from Drive": {
        "main": [
          [
            {
              "node": "Upload to FTP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to FTP": {
        "main": [
          [
            {
              "node": "Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "cohen rayn",
    "name": "Version d49bf39e",
    "description": ""
  },
  "activeVersionId": "d49bf39e-8091-4ca0-aa58-5dd5685b5d7e",
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Drive": {
      "main": [
        [
          {
            "node": "Upload to FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to FTP": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-09T18:06:13.008Z",
  "id": "fB8f7uz9b2cIkHmO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Automated Google Drive to FTP File Transfer with JSON Logging and Reporting",
  "nodes": [
    {
      "parameters": {
        "content": "🔗 **GOOGLE DRIVE TO FTP TRANSFER**\n\nTriggers when files are updated in the watched folder.\nDownloads each file and uploads to FTP server.",
        "height": 180,
        "width": 444
      },
      "id": "5e54cbc7-24b6-466e-97fc-bfe4adfe9dc8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1oEwttOwp4VuhMWvJILOSVD8YxGNRsCUd",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        256
      ],
      "id": "e98a781f-0ae3-4bbe-b6e4-61ed55739052",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QvwWIDibe3wX2Gfx",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "092b6682-1f28-44e9-915b-e3ff02228edc",
      "name": "Download from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -496,
        256
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QvwWIDibe3wX2Gfx",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "={{ $('Google Drive Trigger').item.json.name }}"
      },
      "id": "f486c41a-6226-4168-ae94-002094c94253",
      "name": "Upload to FTP",
      "type": "n8n-nodes-base.ftp",
      "position": [
        -288,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "ftp": {
          "id": "5A9hUpdZqzMtHRCm",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8e8fa6fc-a235-4bc4-a203-2995470d67b3",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -64,
        256
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-02-09T18:06:13.014Z",
      "createdAt": "2026-02-09T18:06:13.014Z",
      "role": "workflow:owner",
      "workflowId": "fB8f7uz9b2cIkHmO",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-02-10T21:00:46Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T19:50:57.454Z",
  "versionId": "d49bf39e-8091-4ca0-aa58-5dd5685b5d7e"
}