workflowsehPoKnvIFJPj2EfR.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-14T17:17:18.000Z",
    "createdAt": "2026-02-14T17:17:09.022Z",
    "versionId": "e7da2cbd-dfd9-4fb8-a197-71e359938135",
    "workflowId": "ehPoKnvIFJPj2EfR",
    "nodes": [
      {
        "parameters": {},
        "id": "25fcccfe-48f7-4239-9cd9-39bee1b3b6ac",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          2384,
          112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 731.7039821513649,
          "width": 1910.7813046051347,
          "color": 6
        },
        "id": "424284fa-54c5-41f4-bd33-a3322f56a439",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1904,
          496
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "63567f1b-9347-48af-890c-030ea5fe45ee",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          1968,
          880
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "a37eee85-8836-42fb-b304-1015d4f846f6",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          2784,
          224
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "K7exKEI1zTkYY0W0",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "368b24e0-f8f2-4dee-a0a9-dbcfd225423d",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          3632,
          704
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "d1b64516-0faf-4e7e-817d-1d204fa94bef",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2592,
          576
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "c1ce360c-3f6e-4318-a678-11b292c5775f",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          2352,
          592
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "c40647f0-6d19-413e-807c-691468d04f10",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          2352,
          864
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
        },
        "id": "2ba07a07-61cc-4aef-8cb4-ea49f940e328",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          2544,
          864
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "a3d2985e-d534-4ba0-969d-f0f5e80f6900",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          2944,
          864
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "f09c63ca-0d70-43f7-87ff-722f5c1ca255",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3168,
          704
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "22d26ef4-e1cf-46e0-ba23-e9d1b2c228a5",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3168,
          864
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "d5a9e056-f2b9-4a53-988d-cbee5172dc85",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3168,
          1056
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Config').item.json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Config').item.json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Config').item.json.repo_path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "b8714381-7f4d-4813-8977-eb0b86100861",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          3392,
          1056
        ],
        "typeVersion": 1,
        "webhookId": "2bd48e08-8853-4ae0-a0da-976efab88ee6",
        "credentials": {
          "githubApi": {
            "id": "Z4kpJENHKawVhjlo",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "",
            "value": "={{ $('Config').first().item.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "",
            "value": "={{ $('Config').first().item.repo_name }}"
          },
          "filePath": "={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "35f4dd9c-e6bd-497c-ab44-2d9182b9313d",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          3392,
          864
        ],
        "typeVersion": 1,
        "webhookId": "8e8fb994-76dd-4d17-8805-64f5eebb022a",
        "credentials": {
          "githubApi": {
            "id": "Z4kpJENHKawVhjlo",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b05e954e-018a-4b0e-b236-04c586ae0087",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          2992,
          224
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 1,
                "triggerAtMinute": 33
              }
            ]
          }
        },
        "id": "2065afe4-4909-460a-be6f-a5c89115705a",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          2384,
          320
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
                "name": "subPath",
                "type": "string",
                "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "4adb08df-09e6-47b2-8bd9-024b81bb5887",
        "name": "Create sub path",
        "type": "n8n-nodes-base.set",
        "position": [
          2752,
          864
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
          "height": 417,
          "width": 385,
          "color": 4
        },
        "id": "c0f4745d-b127-4327-aef6-33f7338c8721",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1904,
          32
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 416.1856906618075,
          "width": 1272.6408145680155,
          "color": 7
        },
        "id": "e992499a-7f51-4c3b-ac55-3faa3af0da0c",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2352,
          32
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "workflowId": "={{ $workflow.id }}",
          "mode": "each",
          "options": {}
        },
        "id": "06c94e58-1c44-4eb8-962f-1c4f3e70b9ea",
        "name": "Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          3328,
          240
        ],
        "typeVersion": 1,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "",
            "value": "={{ $('Config').first().item.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "",
            "value": "={{ $('Config').first().item.repo_name }}"
          },
          "filePath": "={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "da31a69d-d900-44fb-8a7f-d6359c9c10e4",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          2144,
          592
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "633b24f8-9897-4b5d-8edb-3788610b2b07",
        "credentials": {
          "githubApi": {
            "id": "Z4kpJENHKawVhjlo",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
                "name": "repo_owner",
                "type": "string",
                "value": "=galak06"
              },
              {
                "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
                "name": "repo_name",
                "type": "string",
                "value": "=n8n_flows"
              },
              {
                "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
                "name": "repo_path",
                "type": "string",
                "value": "=workflows"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "f4efce6e-636f-44e6-9f8f-ba2ed711303d",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          2144,
          880
        ],
        "typeVersion": 3.4
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Create sub path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create sub path": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "cohen rayn",
    "name": "Version e7da2cbd",
    "description": ""
  },
  "activeVersionId": "e7da2cbd-dfd9-4fb8-a197-71e359938135",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-14T06:11:12.697Z",
  "id": "ehPoKnvIFJPj2EfR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GitHub Backup - Master Fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "25fcccfe-48f7-4239-9cd9-39bee1b3b6ac",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2384,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "424284fa-54c5-41f4-bd33-a3322f56a439",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "63567f1b-9347-48af-890c-030ea5fe45ee",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1968,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "a37eee85-8836-42fb-b304-1015d4f846f6",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2784,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "K7exKEI1zTkYY0W0",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "368b24e0-f8f2-4dee-a0a9-dbcfd225423d",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        704
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "d1b64516-0faf-4e7e-817d-1d204fa94bef",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2592,
        576
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "c1ce360c-3f6e-4318-a678-11b292c5775f",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        2352,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "c40647f0-6d19-413e-807c-691468d04f10",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        2352,
        864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "2ba07a07-61cc-4aef-8cb4-ea49f940e328",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        2544,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "a3d2985e-d534-4ba0-969d-f0f5e80f6900",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        2944,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f09c63ca-0d70-43f7-87ff-722f5c1ca255",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3168,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "22d26ef4-e1cf-46e0-ba23-e9d1b2c228a5",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3168,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d5a9e056-f2b9-4a53-988d-cbee5172dc85",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3168,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').item.json.repo_path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "b8714381-7f4d-4813-8977-eb0b86100861",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        3392,
        1056
      ],
      "typeVersion": 1,
      "webhookId": "2bd48e08-8853-4ae0-a0da-976efab88ee6",
      "credentials": {
        "githubApi": {
          "id": "Z4kpJENHKawVhjlo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "35f4dd9c-e6bd-497c-ab44-2d9182b9313d",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        3392,
        864
      ],
      "typeVersion": 1,
      "webhookId": "8e8fb994-76dd-4d17-8805-64f5eebb022a",
      "credentials": {
        "githubApi": {
          "id": "Z4kpJENHKawVhjlo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b05e954e-018a-4b0e-b236-04c586ae0087",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2992,
        224
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "2065afe4-4909-460a-be6f-a5c89115705a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2384,
        320
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4adb08df-09e6-47b2-8bd9-024b81bb5887",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        2752,
        864
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "c0f4745d-b127-4327-aef6-33f7338c8721",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1272.6408145680155,
        "color": 7
      },
      "id": "e992499a-7f51-4c3b-ac55-3faa3af0da0c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "06c94e58-1c44-4eb8-962f-1c4f3e70b9ea",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        3328,
        240
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "da31a69d-d900-44fb-8a7f-d6359c9c10e4",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        2144,
        592
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "633b24f8-9897-4b5d-8edb-3788610b2b07",
      "credentials": {
        "githubApi": {
          "id": "Z4kpJENHKawVhjlo",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=galak06"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=n8n_flows"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=workflows"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f4efce6e-636f-44e6-9f8f-ba2ed711303d",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        2144,
        880
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "updatedAt": "2025-12-29T07:49:20.903Z",
          "createdAt": "2025-12-27T12:11:55.279Z",
          "id": "0cqwIIYtZlKn3Qzq",
          "name": "subscriber_hook_fun",
          "active": true,
          "isArchived": false,
          "nodes": [
            {
              "parameters": {
                "httpMethod": "POST",
                "path": "webhook",
                "authentication": "headerAuth",
                "responseMode": "lastNode",
                "responseData": "allEntries",
                "options": {}
              },
              "id": "29aa03bf-c117-4ab2-a3a0-f74ef1596e40",
              "name": "Webhook",
              "type": "n8n-nodes-base.webhook",
              "typeVersion": 1,
              "position": [
                -1616,
                -96
              ],
              "webhookId": "ee5c38d9-3872-44d2-98e3-9185cb9a2bc6",
              "credentials": {
                "httpHeaderAuth": {
                  "id": "KjupQnxKXjtnzIif",
                  "name": "Header Auth account"
                }
              }
            },
            {
              "parameters": {
                "documentId": {
                  "__rl": true,
                  "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
                  "mode": "list",
                  "cachedResultName": "subscriber_mails ",
                  "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
                },
                "sheetName": {
                  "__rl": true,
                  "value": "gid=0",
                  "mode": "list",
                  "cachedResultName": "Subsribers",
                  "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
                },
                "filtersUI": {
                  "values": [
                    {
                      "lookupColumn": "=email",
                      "lookupValue": "={{ $json.body.email }}"
                    }
                  ]
                },
                "options": {}
              },
              "id": "de947159-fe61-4222-ab97-4da78aa72de4",
              "name": "Check if Exists",
              "type": "n8n-nodes-base.googleSheets",
              "typeVersion": 4.7,
              "position": [
                -1392,
                -96
              ],
              "alwaysOutputData": true,
              "credentials": {
                "googleSheetsOAuth2Api": {
                  "id": "lQ7j3YxfduLFXixz",
                  "name": "Cohen"
                }
              }
            },
            {
              "parameters": {
                "operation": "append",
                "documentId": {
                  "__rl": true,
                  "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
                  "mode": "list",
                  "cachedResultName": "subscriber_mails ",
                  "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
                },
                "sheetName": {
                  "__rl": true,
                  "value": "gid=0",
                  "mode": "list",
                  "cachedResultName": "Subsribers",
                  "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
                },
                "columns": {
                  "mappingMode": "defineBelow",
                  "value": {
                    "headers": "={{ $('Webhook').item.json.headers }}",
                    "params": "={{ $('Webhook').item.json.params }}",
                    "query": "={{ $('Webhook').item.json.query }}",
                    "email": "={{ $('Webhook').item.json.body.email }}",
                    "body": "={{ $('Webhook').item.json.body }}",
                    "webhookUrl": "={{ $('Webhook').item.json.webhookUrl }}",
                    "executionMode": "={{ $('Webhook').item.json.executionMode }}"
                  },
                  "matchingColumns": [],
                  "schema": [
                    {
                      "id": "headers",
                      "displayName": "headers",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    },
                    {
                      "id": "params",
                      "displayName": "params",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    },
                    {
                      "id": "query",
                      "displayName": "query",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    },
                    {
                      "id": "email",
                      "displayName": "email",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    },
                    {
                      "id": "body",
                      "displayName": "body",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    },
                    {
                      "id": "webhookUrl",
                      "displayName": "webhookUrl",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    },
                    {
                      "id": "executionMode",
                      "displayName": "executionMode",
                      "required": false,
                      "defaultMatch": false,
                      "display": true,
                      "type": "string",
                      "canBeUsedToMatch": true,
                      "removed": false
                    }
                  ],
                  "attemptToConvertTypes": false,
                  "convertFieldsToString": false
                },
                "options": {}
              },
              "id": "644fdfb9-cb29-4bb8-bead-4659187c5751",
              "name": "Append to Sheet",
              "type": "n8n-nodes-base.googleSheets",
              "typeVersion": 4.7,
              "position": [
                -960,
                -128
              ],
              "alwaysOutputData": false,
              "credentials": {
                "googleSheetsOAuth2Api": {
                  "id": "lQ7j3YxfduLFXixz",
                  "name": "Cohen"
                }
              }
            },
            {
              "parameters": {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ac233f21-c053-4995-9f73-047f4115caa4",
                      "leftValue": "={{ !!$('Check if Exists').item.json.email }}",
                      "rightValue": "No fields - item(s) exist, but they're empty",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
              },
              "type": "n8n-nodes-base.if",
              "typeVersion": 2.3,
              "position": [
                -1168,
                -96
              ],
              "id": "9502fd53-4441-4c82-b417-99acccc5e4e5",
              "name": "If",
              "executeOnce": false
            }
          ],
          "connections": {
            "Webhook": {
              "main": [
                [
                  {
                    "node": "Check if Exists",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Check if Exists": {
              "main": [
                [
                  {
                    "node": "If",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "If": {
              "main": [
                [
                  {
                    "node": "Append to Sheet",
                    "type": "main",
                    "index": 0
                  }
                ],
                []
              ]
            }
          },
          "settings": {
            "executionOrder": "v1",
            "timeSavedMode": "fixed",
            "callerPolicy": "workflowsFromSameOwner",
            "availableInMCP": false
          },
          "staticData": null,
          "meta": {
            "templateCredsSetupCompleted": true
          },
          "pinData": {},
          "versionId": "062fa108-d1ee-4a9e-8764-c4294041d179",
          "activeVersionId": "57547d44-cc4e-46b1-9766-871f9d309101",
          "triggerCount": 1,
          "shared": [
            {
              "updatedAt": "2025-12-27T12:11:55.290Z",
              "createdAt": "2025-12-27T12:11:55.290Z",
              "role": "workflow:owner",
              "workflowId": "0cqwIIYtZlKn3Qzq",
              "projectId": "YaGVPyA24kD9PXTE"
            }
          ],
          "activeVersion": {
            "updatedAt": "2025-12-29T07:49:05.000Z",
            "createdAt": "2025-12-29T07:49:02.323Z",
            "versionId": "57547d44-cc4e-46b1-9766-871f9d309101",
            "workflowId": "0cqwIIYtZlKn3Qzq",
            "nodes": [
              {
                "parameters": {
                  "httpMethod": "POST",
                  "path": "webhook",
                  "responseMode": "lastNode",
                  "responseData": "allEntries",
                  "options": {}
                },
                "id": "29aa03bf-c117-4ab2-a3a0-f74ef1596e40",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1,
                "position": [
                  -1616,
                  -96
                ],
                "webhookId": "ee5c38d9-3872-44d2-98e3-9185cb9a2bc6"
              },
              {
                "parameters": {
                  "documentId": {
                    "__rl": true,
                    "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
                    "mode": "list",
                    "cachedResultName": "subscriber_mails ",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
                  },
                  "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Subsribers",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
                  },
                  "filtersUI": {
                    "values": [
                      {
                        "lookupColumn": "=email",
                        "lookupValue": "={{ $json.body.email }}"
                      }
                    ]
                  },
                  "options": {}
                },
                "id": "de947159-fe61-4222-ab97-4da78aa72de4",
                "name": "Check if Exists",
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                  -1392,
                  -96
                ],
                "alwaysOutputData": true,
                "credentials": {
                  "googleSheetsOAuth2Api": {
                    "id": "lQ7j3YxfduLFXixz",
                    "name": "Cohen"
                  }
                }
              },
              {
                "parameters": {
                  "operation": "append",
                  "documentId": {
                    "__rl": true,
                    "value": "1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw",
                    "mode": "list",
                    "cachedResultName": "subscriber_mails ",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit?usp=drivesdk"
                  },
                  "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Subsribers",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6VPe5-HfAjqL3zalhXft5JKjsenLTB3EL6F5VHZVWw/edit#gid=0"
                  },
                  "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                      "headers": "={{ $('Webhook').item.json.headers }}",
                      "params": "={{ $('Webhook').item.json.params }}",
                      "query": "={{ $('Webhook').item.json.query }}",
                      "email": "={{ $('Webhook').item.json.body.email }}",
                      "body": "={{ $('Webhook').item.json.body }}",
                      "webhookUrl": "={{ $('Webhook').item.json.webhookUrl }}",
                      "executionMode": "={{ $('Webhook').item.json.executionMode }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                      {
                        "id": "headers",
                        "displayName": "headers",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "params",
                        "displayName": "params",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "query",
                        "displayName": "query",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "email",
                        "displayName": "email",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "body",
                        "displayName": "body",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "webhookUrl",
                        "displayName": "webhookUrl",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      },
                      {
                        "id": "executionMode",
                        "displayName": "executionMode",
                        "required": false,
                        "defaultMatch": false,
                        "display": true,
                        "type": "string",
                        "canBeUsedToMatch": true,
                        "removed": false
                      }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                  },
                  "options": {}
                },
                "id": "644fdfb9-cb29-4bb8-bead-4659187c5751",
                "name": "Append to Sheet",
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.7,
                "position": [
                  -960,
                  -128
                ],
                "alwaysOutputData": false,
                "credentials": {
                  "googleSheetsOAuth2Api": {
                    "id": "lQ7j3YxfduLFXixz",
                    "name": "Cohen"
                  }
                }
              },
              {
                "parameters": {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "loose",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "ac233f21-c053-4995-9f73-047f4115caa4",
                        "leftValue": "={{ !!$('Check if Exists').item.json.email }}",
                        "rightValue": "No fields - item(s) exist, but they're empty",
                        "operator": {
                          "type": "boolean",
                          "operation": "false",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "looseTypeValidation": true,
                  "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.3,
                "position": [
                  -1168,
                  -96
                ],
                "id": "9502fd53-4441-4c82-b417-99acccc5e4e5",
                "name": "If",
                "executeOnce": false
              }
            ],
            "connections": {
              "Webhook": {
                "main": [
                  [
                    {
                      "node": "Check if Exists",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "Check if Exists": {
                "main": [
                  [
                    {
                      "node": "If",
                      "type": "main",
                      "index": 0
                    }
                  ]
                ]
              },
              "If": {
                "main": [
                  [
                    {
                      "node": "Append to Sheet",
                      "type": "main",
                      "index": 0
                    }
                  ],
                  []
                ]
              }
            },
            "authors": "cohen rayn",
            "name": "Version 57547d44",
            "description": ""
          },
          "tags": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-02-14T06:11:12.712Z",
      "createdAt": "2026-02-14T06:11:12.712Z",
      "role": "workflow:owner",
      "workflowId": "ehPoKnvIFJPj2EfR",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-14T17:17:09.020Z",
  "versionId": "e7da2cbd-dfd9-4fb8-a197-71e359938135"
}