workflowstMwk0Ml14GzRmf1u.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Fetch Essay List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Essay List": {
      "main": [
        [
          {
            "node": "Extract essay names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract essay names": {
      "main": [
        [
          {
            "node": "Split out into items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out into items": {
      "main": [
        [
          {
            "node": "Limit to first 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay texts": {
      "main": [
        [
          {
            "node": "Extract title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Text Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Limit to first 3": {
      "main": [
        [
          {
            "node": "Fetch essay texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Only": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T13:25:15.384Z",
  "id": "tMwk0Ml14GzRmf1u",
  "isArchived": false,
  "meta": null,
  "name": "scraping",
  "nodes": [
    {
      "parameters": {},
      "id": "e05e0855-86f3-4701-8c5f-1b52d12fbde6",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1520,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scrape latest Paul Graham essays",
        "height": 285.66037735849045,
        "width": 1071.752021563343
      },
      "id": "e153d0f2-1dd9-4baa-88e0-98c9b5a9ec71",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Summarize them with GPT",
        "height": 607,
        "width": 625
      },
      "id": "2672e703-fafa-4d2a-9585-dbf3d00a681d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://www.paulgraham.com/articles.html",
        "options": {}
      },
      "id": "8b5efc94-153b-4771-8e88-ec2f62ad73ed",
      "name": "Fetch Essay List",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1232,
        -16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "8b75cc87-94c7-4014-8653-d2f9beda8cd4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        16,
        208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "essay",
              "cssSelector": "table table a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "f15a6546-9e32-4739-8a4b-2a195b85a1ce",
      "name": "Extract essay names",
      "type": "n8n-nodes-base.html",
      "position": [
        -1040,
        -16
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "essay",
        "options": {}
      },
      "id": "d5280087-75dc-45e6-9116-8492185b0331",
      "name": "Split out into items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -832,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://www.paulgraham.com/{{ $json.essay }}",
        "options": {}
      },
      "id": "dd024bcd-72b8-474b-9f19-a917d40c0d8e",
      "name": "Fetch essay texts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -432,
        -16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "cb460b8f-754c-48b8-878b-476914dbc984",
      "name": "Extract title",
      "type": "n8n-nodes-base.html",
      "position": [
        64,
        -320
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operationMode": "documentLoader",
        "options": {}
      },
      "id": "08e86200-f4ae-47b0-87d3-8094e20b02ab",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        64,
        -16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b337b47-a1c6-470e-881f-0c038b4917e5",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "ca820521-4fff-4971-84b5-e6e2dbd8bb7a",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.response.text }}"
            },
            {
              "id": "0fd9b5e3-44dd-49a3-82c1-3a4aa4698376",
              "name": "url",
              "type": "string",
              "value": "=http://www.paulgraham.com/{{ $('Limit to first 3').first().json.essay }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7d85f43-0384-4003-846d-fb08181104c6",
      "name": "Clean up",
      "type": "n8n-nodes-base.set",
      "position": [
        768,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "9ffcf239-11c9-40bf-94cc-6cac49c453cd",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        576,
        -16
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract Text Only').item.json.data }}",
        "options": {}
      },
      "id": "75379483-fd38-4863-8aaf-36e065791875",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        144,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 6000,
        "options": {}
      },
      "id": "45baf720-8cdd-467f-928c-383d9f714477",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        224,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "9461f57c-1ce2-41dc-9d68-002a308c0527",
      "name": "Limit to first 3",
      "type": "n8n-nodes-base.limit",
      "position": [
        -640,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "body",
              "skipSelectors": "img,nav"
            }
          ]
        },
        "options": {}
      },
      "id": "d36a942b-419c-4046-aa74-1bde025af889",
      "name": "Extract Text Only",
      "type": "n8n-nodes-base.html",
      "position": [
        -112,
        -16
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "repo_name": "n8n_flows",
  "repo_owner": "galak06",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-01T13:25:15.388Z",
      "createdAt": "2025-10-01T13:25:15.388Z",
      "role": "workflow:owner",
      "workflowId": "tMwk0Ml14GzRmf1u",
      "projectId": "YaGVPyA24kD9PXTE"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T13:25:23.000Z",
  "versionId": "05dce1d3-0a88-4fde-ae0a-f45eac34130e"
}